<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="./assets/img/bebida.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Descripcion</h5>
          <p class="card-text">Amplia linea de gaseosas y jugos</p>
          <p class="card-text"><small class="text-muted">Medida:100ml</small></p>
        </div>
      </div>
    </div>
</div>
